# OS
.DS_Store
.AppleDouble
.LSOverride

# IDEs / Editors
.idea/
.vscode/
*.iml
.run/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.pytype/
.pyre/
.ruff_cache/
.hypothesis/
.ipynb_checkpoints

# Virtual envs / tooling
.venv/
venv/
env/
.python-version
pip-log.txt

# Coverage / reports / caches
.coverage
.coverage.*
.cache/
coverage.xml
*.cover
*.py,cover
nosetests.xml
pytestdebug.log

# Logs / temp
logs/
*.log
*.tmp
tmp/

# Jupyter
*.ipynb

# MkDocs
site/

# Project data and artifacts
data/
!data/.gitkeep

# Configs
configs/*.yaml
!configs/default.yaml
!configs/doe.yaml
!configs/toy.yaml
!configs/demo.yaml
